on: [push, pull_request_target]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Hello world action step
        uses: ./ # Uses an action in the root directory
        id: hello
        with:
          who-to-greet: 'Barry'
      # Use the output from the `hello` step
      - name: Get the output time
        run: |
          echo "The time was ${{ steps.hello.outputs.time }}"
          echo ${{ github.repository }}
          echo ${{ github.ref }}
          echo ${{ github.event.pull_request.head.repo.full_name }}
          echo ${{ github.event.pull_request_target.head.repo.full_name }}
          echo ${{ github.event.pull_request.head.ref }}
          echo ${{ github.event.pull_request_target.head.ref }}
          echo ${{ github.event.pull_request.base.ref }}
          echo ${{ github.event.pull_request_target.base.ref }}
          echo ${{ github.event.pull_request.number }}
          echo ${{ github.event.pull_request_target.number }}
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Get the output time
        if: startsWith(steps.extract_branch.outputs.branch, 'PR-') != true
        run: |
          echo ${{ steps.extract_branch.outputs.branch }}
      - name: Do some thing
        run: |
          expr 3 + 7 > math-homework.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: math-homework.txt